@model List<NETCore_Demo_StajProject.Models.RandevuVM>
@{
	Layout = "_LayoutAdmin";
}
<form asp-controller="Admin" asp-action="MusteriRandevuGoruntule" method="post">
	<div style="height:320px;">
		<table class="table" style="width:100%;margin-top:200px;background-color:#FDF5E6">
			<thead>
				<tr>
					<th>Operasyon Adı</th>
					<th>Personel Adı</th>
					<th>Tarih:</th>
					<th>Saat:</th>
					<th>Salon:</th>


				</tr>

			</thead>
			@foreach (var item in Model)
			{
				<tr style="width:100%;background-color:#FFEBCD">
					<td>@item.Operasyonlar.OperasyonAd</td>
					<td>@item.Personel.PersonelAd</td>
					<td>@(item.Randevu?.Tarih.ToShortDateString())</td>
					<td>@(item.Randevu?.saatId)</td>
					<td>@item.Salon.SalonNo</td>
					<td>
						<a class="btn btn-info" style="width:30%;background-color:#f6e1c5" href="\Admin/RandevuEdit/@item.Randevu.RandevuId">Düzenle</a>
						<a class="btn btn-info" style="width:25%;background-color:#f6e1c5" href="\Admin/RandevuRemove/@item.Randevu.RandevuId">Sil</a>

					</td>

				</tr>
			}
		</table>

</div>
	
</form>
@if (TempData["ErrorMessage2"] != null)
{
	<div id="errorMessage" class="alert alert-danger custom-alert">
		<div class="alert-content">
			@TempData["ErrorMessage2"]
		</div>
	</div>
}
<style>
	.custom-alert {
		/* Add custom CSS properties to adjust the size and center the element */
		margin-top: 20px;
		width: 300px; /* Adjust the width as needed */
		height: 20px; /* Adjust the height as needed */
		font-size: 13px; /* Adjust the font size as needed */
		display: flex;
		justify-content: center;
		align-items: center;
		/* Add any other custom styling as desired */
	}

	.alert-content {
		text-align: center;
	}
</style>
<script>
	document.addEventListener('DOMContentLoaded', function () {
		var errorMessage = document.getElementById('errorMessage2');
		
		var fadeOutDelay = 3000; // 3000ms = 3 seconds
		var fadeOutDuration = 1000; // 1000ms = 1 seconds (adjust as needed)

		setTimeout(function () {
			fadeOut(errorMessage, fadeOutDuration);
		}, fadeOutDelay);
		setTimeout(function () {
			fadeOut(errorMessage1, fadeOutDuration);
		}, fadeOutDelay);

		function fadeOut(element, duration) {
			var opacity = 1;
			var intervalTime = duration / 100; // Adjust the division value to control the speed

			var interval = setInterval(function () {
				if (opacity > 0) {
					opacity -= 0.01; // Adjust the decrement value to control the speed
					element.style.opacity = opacity;
				} else {
					clearInterval(interval);
					element.style.display = 'none';
				}
			}, intervalTime);
		}
	});
</script>