@model List<NETCore_Demo_StajProject.Models.RandevuVM>
 
<form asp-controller="Randevu" asp-action="AktifRandevular" method="post">

<table class="table">
	<thead>
		<tr>
			<th>Operasyon Adı</th>
			<th>Personel Adı</th>
			<th>Tarih:</th>
			<th>Saat:</th>
			<th>Salon:</th>
			
			
		</tr>

	</thead>
	@foreach (var item in Model)
	{
		<tr>
			<td>@item.Operasyonlar.OperasyonAd</td>
			<td>@item.Personel.PersonelAd</td>
			<td>@(item.Randevu?.Tarih.ToShortDateString())</td>
			<td>@(item.Randevu?.SaatId)</td>
			<td>@item.Salon.SalonNo</td>
				<td>
				<a class="btn btn-info" href="/Randevu/Edit/@item.Randevu.RandevuId">Düzenle</a>
				<a class="btn btn-info" href="/Randevu/Remove/@item.Randevu.RandevuId">Sil</a>
			
			</td>
			
		</tr>
	}
</table>
</form>