@model List<NETCore_Demo_StajProject.Models.RandevuVM>

<form asp-controller="Randevu" asp-action="RandevuGoruntule" method="post">
<table class="table"style="width:100%">
<thead>
	<tr>
	<th>Müşteri Adı</th>
	<th>Operasyon Adı</th>
	<th>Personel Adı</th>
	<th>Tarih:</th>
	<th>Salon:</th>

	</tr>

	</thead>
	@foreach (var item in Model)
	{
	<tr>

	<td>@item.Musteri.MusteriAd</td>
	<td>@item.Operasyonlar.OperasyonAd</td>
	<td>@item.Personel.PersonelAd</td>
	<td>@(item.Randevu.Tarih.ToShortDateString())</td>
	<td>@item.Salon.SalonNo</td>
	</tr>
	}
	</table>
	</form>